@model IEnumerable<Flights.Web.Data.Entities.Airplane>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Airplanes - HighFly</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
</head>
<body class="hold-transition sidebar-mini">
    <!-- Content Wrapper. Contains page content -->
    <!-- Content Header (Page header) -->
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            </div>
            <h1></h1>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
    <!-- Main content -->
    <section class="content">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Airplanes</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example" class="display table table-bordered table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Model)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EconomyClassSeats)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BusinessClassSeats)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstClassSeats)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Seats)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                @using (Html.BeginForm("Delete", "Airplanes", new { id = item.Id }))
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Model)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EconomyClassSeats)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BusinessClassSeats)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FirstClassSeats)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Seats)
                                        </td>
                                        <td>
                                            <a class="btn btn-primary pull-right" asp-action="Edit" asp-route-id="@item.Id">Edit</a>

                                            <input type="submit" value="Delete" class="btn btn-danger pull-right"
                                                   onclick="return confirm('Are you sure you want to delete @item.Model?')" />
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Model)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EconomyClassSeats)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BusinessClassSeats)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstClassSeats)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Seats)
                                </th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
        <!-- /.row -->
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    <!-- /.content-wrapper -->
    <!-- ./wrapper -->

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        
        <script>

            $(document).ready(function () {
                $('#example').DataTable();
            });</script>


        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    }


</body>
</html>