
@model Flights.Web.Models.LoginViewModel


@{
    Layout = null;
}



<!doctype html>
<html>
<head>
    <title>HighFly - Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Majestic Login Form Widget Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- font files -->
    <link href='//fonts.googleapis.com/css?family=Muli:400,300,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Comfortaa:400,300,700' rel='stylesheet' type='text/css'>
    <!-- /font files -->
    <!-- css files -->
    <link href="~/login/css/animate-custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/login/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- /css files -->
</head>
<body>
    <h1 class="w3ls">Welcome back!</h1>
    <div id="container_demo">
        <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
        <a class="hiddenanchor" id="toregister"></a>
        <a class="hiddenanchor" id="tologin"></a>
        <div id="wrapper">
            <div id="login" class="animate form">

                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @autocomplete = "on" }))

                {
                    @Html.AntiForgeryToken()

                    <h2>Log in</h2>
                    <div>@Html.ValidationSummary(true,"", new { @style = "color: white" })</div>
                    <br />
                    <p>
                        <label for="Username" class="uname" data-icon="u"><span>Your email or name</span></label>
                        @Html.TextBoxFor(l => l.Username, new { @placeholder = "Username}" })
                    </p>
                    <p>
                        <label for="Password" class="youpasswd" data-icon="p"><span>Your password</span></label>
                        @Html.PasswordFor(l => l.Password, new { @placeholder = "Password" })
                    </p>
                    <p>
                        @Html.CheckBoxFor(l => l.RememberMe, new { @id = "brand" })
                        <label for="brand"><span></span> Remember me?</label>
                    </p>
                    <p class="login button">
                        <input type="submit" value="Login" />
                    </p>
                    <p class="login button">
                        <a href="RecoverPassword" class="to_register">
                            <span>Forgot your password?</span>
                        </a>
                    </p>

                }

            
        </div>
    </div>
    <p class="agileits">© 2016 Majestic Login Form. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank">w3layouts</a></p>
</body>
</html>









@*<div class="row">
        <div class="col-md-4 offset-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label asp-for="Username">Username</label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-warning"></span>
                </div>
                <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
                <div class="form-group">
                    <label asp-for="Password">Password</label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-warning"></span>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input asp-for="RememberMe" type="checkbox" class="form-check-input" />
                        <label asp-for="RememberMe" class="form-check-label">Remember Me?</label>
                    </div>
                    <span asp-validation-for="RememberMe" class="text-warning"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-success" />
                    <a asp-action="Register" class="btn btn-primary">Register New User</a>
                    <a asp-action="RecoverPassword" class="btn btn-link">Forgot your password?</a>
                </div>
            </form>
        </div>
    </div>*@

