@model IEnumerable<Flights.Web.Data.Entities.Flight>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Choose Flight - HighFly</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
</head>
<body class="hold-transition sidebar-mini">
    <!-- Content Wrapper. Contains page content -->
    <!-- Content Header (Page header) -->
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            </div>
            <h1></h1>

        </div>
    </div>
    <!-- /.container-fluid -->
    <!-- Main content -->
    <section class="content">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Choose a flight</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="airports" class="display table table-bordered table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.DepartureAirport)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ArrivalAirport)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DateTime)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DepartureAirport.CompleteAirport)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ArrivalAirport.CompleteAirport)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateTime)
                                    </td>
                                    <td>
                                        <a class="btn btn-primary" asp-action="BuyTicket" asp-route-id="@item.Id">Buy Ticket</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.DepartureAirport)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ArrivalAirport)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DateTime)
                                </th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
        <!-- /.row -->
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    <!-- /.content-wrapper -->
    <!-- ./wrapper -->

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

        <script>

            $(document).ready(function () {
                $('#airports').DataTable();
            });</script>

        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    }


</body>
</html>